---
layout: Default
---

{% assign pins = site.pins | sort:"position" %}

<div class="container">
  <ul class="pins pins--all-pins">
    {% for pin in pins limit: site.pins_per_page %}
      <li class="pin {% if pin.is_featured %} featured {% endif %}">
        <a href="#" class="loading">
          {% if pin.image %}<img src="{{ pin.image | prepend: site.baseurl }}" />{% endif %}
          <div class="pin-description">
            <h2 class="pin-title">
              {{ pin.title | markdownify | strip_html }}
            </h2>
            <p>{{ pin.content | markdownify | strip_html }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="loading-spinner"></div>
  </div>
</div>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/packery.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/smoothscroll.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/main.min.js"></script>