@import "../neat/neat-helpers"; // or "/neat-helpers" when in Rails

// Neat Overrides
 $column: 90px;
 $gutter: 60px;
 $grid-columns: 8;
 $max-width: 1150px;

// Neat Breakpoints
$medium-screen: 640px;
$large-screen: 1024px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 8);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

$medium-screen-only: new-breakpoint(min-width $medium-screen max-width ($large-screen - 1) 8);